
body{
    background-color: black;
    margin: 0;
}

.main{
    background-color: rgba(238, 157, 76, 0.97);
    width: 100vw;
    height: 100vh;
    border-radius: 2rem; 
    display: flex;
    justify-content: space-between;
    
}

.sidebar{
    width: 8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    
}

.play{
    background-color: rgba(255, 255, 255, 0.34);
}

.player{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYOFPDueCcB4-hzNmu3nmjacV9CxZ0tLehjg&usqp=CAU');
    width: 92vw;
    height: 100vh;
    border-radius: 2rem; 
}




